#---------------------------------------------------------------------
# Server Settings
#---------------------------------------------------------------------

global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http
    
#---------------------------------------------------------------------
# SSL Renewal Settings
#---------------------------------------------------------------------

# To do. VSS breaks my SSL workflow on my home lab servers.

#---------------------------------------------------------------------
# Frontend Settings
#---------------------------------------------------------------------

# define frontends
frontend all_services
        # frontend listen ports
        bind *:80
        bind *:443 ssl crt /etc/haproxy/cert/
        # set options
        timeout client 30s
        mode http
        option http-keep-alive
        option httplog
        option forwardfor except 127.0.0.1
        http-request redirect scheme https code 301 unless { ssl_fc }
        http-request set-header X-Forwarded-For %[src]
        http-request add-header X-Forwarded-Proto https if { ssl_fc }
        http-request add-header X-Forwarded-Port %[dst_port]
        http-response add-header Strict-Transport-Security max-age=15768000
        
#---------------------------------------------------------------------
# ACL Settings
#---------------------------------------------------------------------

# To do. My prod haproxy runs v 2.4, this haproxy in CentOS 7 is 1.4 or something. 
		
#---------------------------------------------------------------------
# Backend Settings
#---------------------------------------------------------------------

backend jamfpro1
	balance roundrobin
	mode http
	timeout connect 	5s
	timeout server		5s
	option forwardfor header X-Client
	server	gslm98.quick.jamf.net	10.100.22.231:8443 ssl verify none
	server	cdwkfn.quick.jamf.net	10.100.22.85:8443 ssl verify none
	server	5n3mvj.quick.jamf.net	10.100.23.84:8443 ssl verify none
	server	pvfueq.quick.jamf.net	10.100.23.86:8443 ssl verify none
	server	yvw0xv.quick.jamf.net	10.100.23.97:8443 ssl verify none